@CHARSET "ISO-8859-1";

body{
	background-color: #a5a66a;
	font-size: 1em;
	font-family: Arial,sans-serif;
	color: white;
}

table {
	position: relative;
	top: 100px;
	margin: 0 auto;
	border: 0;
}

table caption{
	font-size: 2em;
	font-weight: bolder;
	margin-bottom: 30px;
 	color: #81824d;
    letter-spacing: .1em;
    text-shadow: 
      -1px -1px 1px #5e5f38, 
      2px 2px 1px #363636;	
}
table button{
	width: 120;
	height: 40px;
	position:relative;
	text-align: center;
	left: 21%;
	background-color: #5e5f38;
	color:#a5a66a;
	font-weight: bold;
	border: 1px solid #494a2d;
	border-radius: 5px;
	font-size: .89em;
}

table input,#comentarios,select{
	font-size: 0.88em;
	font-weight: bold;
	color:#808080;
	background-color: #e4e4e4;
	border: 1.5px solid #5e5f38;
}

button #enviar{
	margin-left:auto;
    margin-right:auto;
}

audio{
	position:relative;
	margin: 0 auto;
	left: 25%;
}

label{
	font-size: 1.4em;
	color:#787948;
}

.cursorCruz{
	cursor: crosshair;
}

.cursorTexto{
	cursor:pointer;
}
